<div class="container">
    <nav class="navbar sticky-top navbar-light bg-light">
        <a class="navbar-brand">Mento</a>
        <div *ngIf="clickedUser && loggedInUser" style="float: right; font: bold; color: darkslategray">
            {{loggedInUser.username}} to {{clickedUser.username}}</div>
    </nav>
    <div class="chat-box">
        <!-- <div class="chat-messages">
            <div class="s-message-layout"></div>
            <div class="r-message-layout"></div>
        </div> -->
        <div class="chat-messages" id="chat-messages"></div>

        <form class="chat-form" [formGroup]='chatForm' (ngSubmit)="sendMessage()">
            <input
                type="text" 
                id="chat-message" 
                class="form-control" 
                formControlName="chatMessage"
                placeholder="Enter Message" 
                aria-describedby="chatMessage" 
                autocomplete="off"
                required>
            <button 
                type="submit" 
                class="btn btn-primary" 
                [disabled]="chatForm.status=='INVALID'">
                    Send
            </button>
        </form>

    </div>
</div>